In [47]:
import pandas as pd
from sqlalchemy import create_engine

In [48]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

In [49]:
import psycopg2

In [50]:
from psycopg2 import sql

# user table

In [51]:
conn = psycopg2.connect( 
                        database="project5310",
                        user='postgres', password='123', 
                        host='localhost', port='5432'
)
  
conn.autocommit = True
cursor = conn.cursor()
cursor.execute('DROP TABLE IF EXISTS "user" CASCADE;')
pro1 = '''CREATE TABLE "user"
(
  user_id char(15) primary key,
  order_number int
);'''
  
  
cursor.execute(pro1)

In [52]:
pro2 = sql.SQL("COPY {} (user_id,order_number) FROM STDIN WITH DELIMITER ',' CSV HEADER").format(
    sql.Identifier("user")
)
filepath = "user.csv"
with open(filepath, 'r') as k:
        cursor.copy_expert(pro2, k)

In [53]:
pro3 = '''SELECT * FROM "user" LIMIT 11;'''

cursor.execute(pro3)
for i in cursor.fetchall():
    print(i)

('2              ', 2)
('3              ', 3)
('7              ', 1)
('10             ', 1)
('11             ', 1)
('13             ', 1)
('17             ', 1)
('21             ', 1)
('22             ', 1)
('24             ', 2)
('26             ', 1)

# department table

In [56]:
pro15 = '''
DROP TABLE IF EXISTS department CASCADE;
CREATE TABLE IF NOT EXISTS department 
(
  department_id char(5) primary key,
  department varchar(30) not null
);'''
  
  
cursor.execute(pro15)

pro16 = sql.SQL("COPY {} (department_id,department) FROM STDIN WITH DELIMITER ',' CSV HEADER").format(
    sql.Identifier("department")
)
filepath = "department.csv"
with open(filepath, 'r') as k:
        cursor.copy_expert(pro16, k)

In [57]:
pro16 = '''SELECT * FROM "department" LIMIT 10;'''

cursor.execute(pro16)
for i in cursor.fetchall():
    print(i)

('1    ', 'frozen')
('2    ', 'other')
('3    ', 'bakery')
('4    ', 'produce')
('5    ', 'alcohol')
('6    ', 'international')
('7    ', 'beverages')
('8    ', 'pets')
('9    ', 'dry goods pasta')
('10   ', 'bulk')

# product_dept table

In [58]:


pro4 = '''
DROP TABLE IF EXISTS product_dept CASCADE;
CREATE TABLE product_dept 
(
  product_id char(5) primary key,
  product_name varchar(50) not null,
  department_id varchar(30) not null,
  foreign key (department_id) REFERENCES department (department_id)  
);'''
  
  
cursor.execute(pro4)

pro5 = sql.SQL("COPY {} (product_id,product_name,department_id) FROM STDIN WITH DELIMITER ',' CSV HEADER").format(
    sql.Identifier("product_dept")
)
filepath = "product_dept.csv"
with open(filepath, 'r') as k:
        cursor.copy_expert(pro5, k)

In [59]:
pro6 = '''SELECT * FROM product_dept LIMIT 11;'''

cursor.execute(pro6)
for i in cursor.fetchall():
    print(i)

('1    ', 'prepared soups salads', '20')
('2    ', 'specialty cheeses', '16')
('3    ', 'energy granola bars', '19')
('4    ', 'instant foods', '9')
('5    ', 'marinades meat preparation', '13')
('6    ', 'other', '2')
('7    ', 'packaged meat', '12')
('8    ', 'bakery desserts', '3')
('9    ', 'pasta sauce', '9')
('10   ', 'kitchen supplies', '17')
('11   ', 'cold flu allergy', '11')

# product_order table

In [61]:
cursor.execute("DROP TABLE IF EXISTS product_order CASCADE;")


pro7 = '''CREATE TABLE product_order 
(
  cart_id char(10) primary key,
  product_id char(5) not null,
  add_to_cart_order int,
  foreign key (product_id) REFERENCES product_dept (product_id)
);'''
  
  
cursor.execute(pro7)

pro8 = sql.SQL("COPY {} (cart_id,product_id,add_to_cart_order) FROM STDIN WITH DELIMITER ',' CSV HEADER").format(
    sql.Identifier("product_order")
)
filepath = "product_order.csv"
with open(filepath, 'r') as k:
        cursor.copy_expert(pro8, k)

In [62]:
pro9 = '''SELECT * FROM product_order LIMIT 10;'''

cursor.execute(pro9)
for i in cursor.fetchall():
    print(i)

('100000_1  ', '27   ', 1)
('100000_10 ', '72   ', 10)
('100000_11 ', '72   ', 11)
('100000_2  ', '27   ', 2)
('100000_3  ', '98   ', 3)
('100000_4  ', '107  ', 4)
('100000_5  ', '123  ', 5)
('100000_6  ', '72   ', 6)
('100000_7  ', '89   ', 7)
('100000_8  ', '105  ', 8)

# order table

In [63]:
pro10 = '''
DROP TABLE IF EXISTS "order" CASCADE;
CREATE TABLE "order" 
(
  order_id char(7) not null primary key,
  user_id char(10) not null,
  cart_id char(10) not null,
  order_hour_of_day integer not null,
  days_since_prior_order numeric,
  foreign key (cart_id) REFERENCES product_order (cart_id),
  foreign key (user_id) REFERENCES "user" (user_id)
);'''
  
  
cursor.execute(pro10)

pro11 = sql.SQL("COPY {} (order_id,user_id,cart_id,order_hour_of_day,days_since_prior_order) FROM STDIN WITH DELIMITER ',' CSV HEADER").format(
    sql.Identifier("order")
)
filepath = "order.csv"
with open(filepath, 'r') as k:
        cursor.copy_expert(pro11, k)

In [64]:
pro10 = '''SELECT * FROM "order" LIMIT 10;'''

cursor.execute(pro10)
for i in cursor.fetchall():
    print(i)

('1501582', '2         ', '2_1       ', 10, Decimal('10.0'))
('1901567', '2         ', '2_11      ', 10, Decimal('3.0'))
('521107 ', '3         ', '3_12      ', 18, Decimal('11.0'))
('2037211', '3         ', '3_19      ', 18, Decimal('20.0'))
('444309 ', '3         ', '3_9       ', 19, Decimal('9.0'))
('121053 ', '7         ', '7_15      ', 18, Decimal('30.0'))
('83395  ', '10        ', '10_18     ', 15, Decimal('14.0'))
('2921164', '11        ', '11_8      ', 11, Decimal('30.0'))
('1906169', '13        ', '13_7      ', 8, Decimal('7.0'))
('3141030', '17        ', '17_1      ', 12, Decimal('4.0'))

# reorder table

In [65]:
pro12 = '''
DROP TABLE IF EXISTS "reorder" CASCADE;
CREATE TABLE "reorder" 
(
  Number varchar(20),
  user_id char(7),
  order_id char(10) not null,
  product_id char(10)not null,
  reordered integer not null,
  primary key (Number),
  foreign key (product_id) REFERENCES product_dept (product_id),
  foreign key (user_id) REFERENCES "user" (user_id)

  
);'''
  
  
cursor.execute(pro12)

pro13 = sql.SQL("COPY {} (Number,user_id,order_id,product_id,reordered) FROM STDIN WITH DELIMITER ',' CSV HEADER").format(
    sql.Identifier("reorder")
)
filepath = "reorder.csv"
with open(filepath, 'r') as k:
        cursor.copy_expert(pro13, k)

In [66]:
pro14 = '''SELECT * FROM "reorder" LIMIT 10;'''

cursor.execute(pro14)
for i in cursor.fetchall():
    print(i)

('1', '2      ', '1501582   ', '24        ', 0)
('2', '2      ', '1501582   ', '21        ', 0)
('3', '2      ', '1501582   ', '78        ', 0)
('4', '2      ', '1501582   ', '24        ', 1)
('5', '2      ', '1501582   ', '107       ', 0)
('6', '2      ', '1501582   ', '67        ', 0)
('7', '2      ', '1901567   ', '24        ', 1)
('8', '2      ', '1901567   ', '23        ', 1)
('9', '2      ', '1901567   ', '96        ', 1)
('10', '2      ', '1901567   ', '21        ', 0)